@charset "utf-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
    height: auto;
}

body {
    background-image: linear-gradient(to right, #7D79F2, #BCF2BB);
}

main {
    background-color: #aeacf281;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(87, 84, 170, 0.662);
    width: 90%;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #2A26A6;
    text-align: center;
    text-shadow: 1px 1px 20px #403aff81;
}

pre {
    width: 10%;
    margin: auto;
}

h2{
    color: #7bff3e;
}

p {
    text-align: justify;
    color: #4b4a5f;
}