@charset "UTF-8";

/* TELEFONE */

/*
Paleta de Cores
verde: #49a09d
lilás: #5f2c82
*/

/*
Typical Device Breakpoints
--------------------------
Celular: de 600px até 768px
Tablet: de 768px até 992px
Grandes Telas: acima de 1.200px
*/

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #5f2c82;
    margin-top: 15vh;
}

main {
    margin: auto;
    width: 40vw;
    height: 505px;
    background-color: white;
    border-radius: 20px;
}

div#imagem-gif {
    background-image: url(../imagens-e-gifs/burnice-burnice-go\ gif1.gif);
    background-size: 100% 100%; /* serve para deixar a imagem/gif esticado*/
    border-radius:  20px 20px 0 0;
    margin: auto;
    width: 100%;
    height: 200px;
}

div#login {
    margin: 0 8px;
}

p#titulo-login {
    margin: 9px 0 9px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 32px;
    font-size: 2em;
}

p#texto {
    font-size: 0.78em;
    margin-bottom: 5px;
    text-align: left;
}

.formulario {
    background-color: #5F2C82;
    border-color: none;
    border-radius: 8px;
    margin: 5px 0 0 0;
    padding-bottom: 2px;
    padding-top: 2px;
    display: flex;
}

img#person, img#vpn_key {
    width: 30px;
    height: 30px;
}

input#iemail, input#isen {
    background-color: aquamarine;
    border: none;
    height: 36px;
    width: 89%;
    border-radius: 10px;

}

input#entrar {
    background-color: #49a09d;
    color: white;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    margin: 5px 0 0 0;
}

input#entrar:hover {
    background-color: #2c5f5d;
}

input#esqueciASenha {
    color:#2c5f5d;
    background-color: transparent;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border-color: #49a09d;
    box-shadow: none;
    margin: 5px 0 0 0;
}

input#esqueciASenha:hover {
    background-color: #49a09d;
}