@charset "utf-8";

        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

        @font-face {
            font-family: android;
            src: url(fontes/idroid.otf) format(opentype);
        }

        body {
            background-color:#63b687;
            font-family: "Bebas Neue", sans-serif;
            margin: 0px;
            font-size: 25px;
        }
        
        div#div1 {
            color: white;
            background-image: linear-gradient(to Top, #043D1C, #1E834A);
            height: auto;            
        }
        
        div#div1 > a {
            display: inline-block;
            color: white;
            padding: 10px;
        }

        div#div1 > h1 {
            text-align: center;
            margin-top: 0px;
            padding-top: 30px;
            margin-bottom: 1%;
        }

        div#div1 > h2 {
            text-align: center;
            margin-top: 0px;
            padding-top: 30px;
            margin-bottom: 1%;
        }

        div#div2 {
            display: block;
            background-color: #043D1C;
            height: 100%;
            width: 85%;
            margin: auto;
            padding: 1px 20px;
        }

        div#div2 > iframe {
            display: block;
            margin: auto;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        div#div3 {
            background-color: #63b687;
            height: auto;
            margin-top: 0px;
            padding: 10px;
            
        }

        div#div4 {
            text-align: center;
            color: white;
            background-color: #043D1C;
            padding-top: 20px;
            margin-top: 20px;
        }

        div#div4 > p {
            margin-top: 0;
            padding-bottom: 20px;
            margin-bottom: 0px;
        }

        main {
            background-color: white;
            height: 100%;
            width: 85%;
            margin: auto;
            padding: 1px 20px;
        }

        p#ajuste-p {
            padding-top: 20px;
            padding-left: 10px;
            margin-bottom: 5px;
        }

        span {
            color:#043D1C;
            font-size: larger;
        }

        main > picture, img {
            display: block;
            width: auto;
            margin: auto;
        }

        footer {
            background-color: #1E834A;
            color: white;
            border-radius: 20px;
        }

        .bebas-neue-regular {
            font-family: "Bebas Neue", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .borda {
           border-radius:0px 0px 20px 20px;
        }

        .fonte-android {
            font-family: android;
            color: #043D1C;
        }

        .degradê {
            background-image: linear-gradient(to right, #80cea0, #a8e7c3);
        }

        .sem-linha {
            text-decoration: none;
        }

        .lista-inline  {
            padding: 0;
            display: inline-block;
            padding: 0 5%;
        }

        li::before {
            content: '✔';
        }