@charset "UTF-8";

/*
Typical Device Breakpoints
--------------------------
Pequena telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1.200px
Grandes Telas: acima de 1.200px
*/

@media screen and (min-width: 768px) {
    span#burger {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }

    
}